@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: Poppins;
}
:root {
  --item1-transform: translateX(-100%) translateY(-5%) scale(1.5);
  --item1-filter: blur(30px);
  --item1-zIndex: 11;
  --item1-opacity: 0;

  --item2-transform: translateX(0);
  --item2-filter: blur(0px);
  --item2-zIndex: 10;
  --item2-opacity: 1;

  --item3-transform: translate(50%, 10%) scale(0.8);
  --item3-filter: blur(10px);
  --item3-zIndex: 9;
  --item3-opacity: 1;

  --item4-transform: translate(90%, 20%) scale(0.5);
  --item4-filter: blur(30px);
  --item4-zIndex: 8;
  --item4-opacity: 1;

  --item5-transform: translate(120%, 30%) scale(0.3);
  --item5-filter: blur(40px);
  --item5-zIndex: 7;
  --item5-opacity: 0;
}
header {
  width: 1140px;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 50px;
  align-items: center;
}
header .logo {
  font-weight: bold;
}
header nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #555;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease ease;
  font-weight: 500;
}

header nav a:hover {
  color: #f1683a;
}

/* carousel */
.carousel {
  position: relative;
  height: 800px;
  overflow: hidden;
  margin-top: -50px;
}
.carousel .list {
  position: absolute;
  width: 1140px;
  max-width: 90%;
  height: 80%;
  left: 50%;
  transform: translateX(-50%);
}
.carousel .list .item {
  position: absolute;
  left: 0%;
  width: 70%;
  height: 100%;
  font-size: 15px;
  transition: left 0.5s, opacity 0.5s, width 0.5s;
}
.carousel .list .item:nth-child(n + 6) {
  opacity: 0;
}
.carousel .list .item:nth-child(2) {
  z-index: 10;
  transform: translateX(0);
}
.carousel .list .item img {
  width: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: right 1.5s;
}

.carousel .list .item .introduce {
  opacity: 0;
  pointer-events: none;
}
.carousel .list .item:nth-child(2) .introduce {
  opacity: 1;
  pointer-events: auto;
  width: 400px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.5s;
}
.carousel .list .item .introduce .title {
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  line-height: 1em;
}
.carousel .list .item .introduce .topic {
  font-size: 4em;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}
.carousel .list .item .introduce .des {
  font-size: small;
  font-family: "Times New Roman", Times, serif;
  color: #5559;
}
.carousel .list .item .introduce .seeMore {
  font-family: Poppins;
  margin-top: 1.2em;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid #555;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 3px;
  transition: background 0.5s;
}
.carousel .list .item .introduce .seeMore:hover {
  background: #eee;
}
.carousel .list .item:nth-child(1) {
  transform: var(--item1-transform);
  filter: var(--item1-filter);
  z-index: var(--item1-zIndex);
  opacity: var(--item1-opacity);
  pointer-events: none;
}
.carousel .list .item:nth-child(3) {
  transform: var(--item3-transform);
  filter: var(--item3-filter);
  z-index: var(--item3-zIndex);
}
.carousel .list .item:nth-child(4) {
  transform: var(--item4-transform);
  filter: var(--item4-filter);
  z-index: var(--item4-zIndex);
}
.carousel .list .item:nth-child(5) {
  transform: var(--item5-transform);
  filter: var(--item5-filter);
  opacity: var(--item5-opacity);
  pointer-events: none;
}
/* animation text in item2 */
.carousel .list .item:nth-child(2) .introduce .title,
.carousel .list .item:nth-child(2) .introduce .topic,
.carousel .list .item:nth-child(2) .introduce .des,
.carousel .list .item:nth-child(2) .introduce .seeMore {
  opacity: 0;
  animation: showContent 0.5s 1s ease-in-out 1 forwards;
}
@keyframes showContent {
  from {
    transform: translateY(-30px);
    filter: blur(10px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0px);
  }
}
.carousel .list .item:nth-child(2) .introduce .topic {
  animation-delay: 1.2s;
}
.carousel .list .item:nth-child(2) .introduce .des {
  animation-delay: 1.4s;
}
.carousel .list .item:nth-child(2) .introduce .seeMore {
  animation-delay: 1.6s;
}
/* next click */
.carousel.next .item:nth-child(1) {
  animation: transformFromPosition2 0.5s ease-in-out 1 forwards;
}
@keyframes transformFromPosition2 {
  from {
    transform: var(--item2-transform);
    filter: var(--item2-filter);
    opacity: var(--item2-opacity);
  }
}
.carousel.next .item:nth-child(2) {
  animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}
@keyframes transformFromPosition3 {
  from {
    transform: var(--item3-transform);
    filter: var(--item3-filter);
    opacity: var(--item3-opacity);
  }
}
.carousel.next .item:nth-child(3) {
  animation: transformFromPosition4 0.9s ease-in-out 1 forwards;
}
@keyframes transformFromPosition4 {
  from {
    transform: var(--item4-transform);
    filter: var(--item4-filter);
    opacity: var(--item4-opacity);
  }
}
.carousel.next .item:nth-child(4) {
  animation: transformFromPosition5 1.1s ease-in-out 1 forwards;
}
@keyframes transformFromPosition5 {
  from {
    transform: var(--item5-transform);
    filter: var(--item5-filter);
    opacity: var(--item5-opacity);
  }
}
/* previous */
.carousel.prev .list .item:nth-child(5) {
  animation: transformFromPosition4 0.5s ease-in-out 1 forwards;
}
.carousel.prev .list .item:nth-child(4) {
  animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}
.carousel.prev .list .item:nth-child(3) {
  animation: transformFromPosition2 0.9s ease-in-out 1 forwards;
}
.carousel.prev .list .item:nth-child(2) {
  animation: transformFromPosition1 1.1s ease-in-out 1 forwards;
}
@keyframes transformFromPosition1 {
  from {
    transform: var(--item1-transform);
    filter: var(--item1-filter);
    opacity: var(--item1-opacity);
  }
}

/* detail  */
.carousel .list .item .detail {
  opacity: 0;
  pointer-events: none;
}
/* showDetail */
.carousel.showDetail .list .item:nth-child(3),
.carousel.showDetail .list .item:nth-child(4) {
  left: 100%;
  opacity: 0;
  pointer-events: none;
}
.carousel.showDetail .list .item:nth-child(2) {
  width: 100%;
}
.carousel.showDetail .list .item:nth-child(2) .introduce {
  opacity: 0;
  pointer-events: none;
}
.carousel.showDetail .list .item:nth-child(2) img {
  right: 50%;
}
.carousel.showDetail .list .item:nth-child(2) .detail {
  opacity: 1;
  width: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  pointer-events: auto;
}
.carousel.showDetail .list .item:nth-child(2) .detail .title {
  font-size: 4em;
}
.carousel.showDetail .list .item:nth-child(2) .detail .specifications {
  display: flex;
  gap: 10px;
  width: 100%;
  border-top: 1px solid #5553;
  margin-top: 20px;
}
.carousel.showDetail .list .item:nth-child(2) .detail .specifications div {
  width: 90px;
  text-align: center;
  flex-shrink: 0;
}
.carousel.showDetail
  .list
  .item:nth-child(2)
  .detail
  .specifications
  div
  p:nth-child(1) {
  font-weight: bold;
}
.carousel.carousel.showDetail .list .item:nth-child(2) .checkout button {
  font-family: Poppins;
  background-color: transparent;
  border: 1px solid #5555;
  margin-left: 5px;
  padding: 5px 10px;
  letter-spacing: 2px;
  font-weight: 500;
}
.carousel.carousel.showDetail
  .list
  .item:nth-child(2)
  .checkout
  button:nth-child(2) {
  background-color: #693eff;
  color: #eee;
}
.carousel.showDetail .list .item:nth-child(2) .detail .title,
.carousel.showDetail .list .item:nth-child(2) .detail .des,
.carousel.showDetail .list .item:nth-child(2) .detail .specifications,
.carousel.showDetail .list .item:nth-child(2) .detail .checkout {
  opacity: 0;
  animation: showContent 0.5s 1s ease-in-out 1 forwards;
}
.carousel.showDetail .list .item:nth-child(2) .detail .des {
  animation-delay: 1.2s;
}
.carousel.showDetail .list .item:nth-child(2) .detail .specifications {
  animation-delay: 1.4s;
}
.carousel.showDetail .list .item:nth-child(2) .detail .checkout {
  animation-delay: 1.6s;
}
.arrows {
  position: absolute;
  bottom: 10px;
  width: 1140px;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
}
#prev,
#next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-family: monospace;
  border: 1px solid #5555;
  font-size: large;
  bottom: 20%;
  left: 10%;
}
#next {
  left: unset;
  right: 10%;
}
#back {
  position: absolute;
  z-index: 100;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-bottom: 1px solid #555;
  font-family: Poppins;
  font-weight: bold;
  letter-spacing: 3px;
  background-color: transparent;
  padding: 10px;
  /* opacity: 0; */
  transition: opacity 0.5s;
}
.carousel.showDetail #back {
  opacity: 1;
}
.carousel.showDetail #prev,
.carousel.showDetail #next {
  opacity: 0;
  pointer-events: none;
}
.carousel::before {
  width: 500px;
  height: 300px;
  content: "";
  background-image: linear-gradient(70deg, #2c272e, black);
  position: absolute;
  z-index: -1;
  border-radius: 20% 30% 80% 10%;
  filter: blur(150px);
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);
  transition: 1s;
}
.carousel.showDetail::before {
  transform: translate(-100%, -50%) rotate(90deg);
  filter: blur(130px);
}
@media screen and (max-width: 991px) {
  /* ipad, tablets */
  .carousel .list .item {
    width: 90%;
  }
  .carousel.showDetail .list .item:nth-child(2) .detail .specifications {
    overflow: auto;
  }
  .carousel.showDetail .list .item:nth-child(2) .detail .title {
    font-size: 2em;
  }
}
@media screen and (max-width: 767px) {
  /* mobile */
  .carousel {
    height: 600px;
  }
  .carousel .list .item {
    width: 100%;
    font-size: 10px;
  }

  .carousel .list {
    height: 100%;
  }
  .carousel .list .item:nth-child(2) .introduce {
    width: 50%;
  }

  .carousel .list .item img {
    width: 40%;
  }
  .carousel.showDetail .list .item:nth-child(2) .detail {
    backdrop-filter: blur(10px);
    font-size: small;
  }
  .carousel .list .item:nth-child(2) .introduce .des,
  .carousel.showDetail .list .item:nth-child(2) .detail .des {
    height: 100px;
    overflow: auto;
  }
  .carousel.showDetail .list .item:nth-child(2) .detail .checkout {
    display: flex;
    width: max-content;
    float: right;
  }
}
/* Carousel Ends*/
/* Bento Box */

.grid-container {
  padding: 25px 25px 25px 25px;
  margin: 1rem;
  display: grid;
  grid-auto-columns: 1fr;
  gap: 0.5rem;
  grid-template-areas:
    "box1  box2  box3  box4  box4  box5  box5"
    "box6  box6  box6  box7  box7  box8  box9"
    "box10 box11 box15  box7  box7  box8  box9"
    "box12 box12 box13 box13 box13 box14 box14";
  animation: transformFromPosition1 3s ease-in-out 1 forwards;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: "Times New Roman", Times, serif;
  background-color: #3c3d37;
  background: linear-gradient(to right, #3c3d37 70%, #eb5b00 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
}

.grid-item {
  background: rgba(0, 0, 0, 0.2); /* Transparent dark background */
  backdrop-filter: blur(15px) saturate(150%); /* Increase blur and saturation for a more glassy look */
  -webkit-backdrop-filter: blur(15px) saturate(150%); /* Support for Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border for glass effect */
  padding: 0.5rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  overflow: hidden;
  transition: all 200ms ease;
}

.grid-item:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3); /* Slightly darker on hover */
  outline: 1px solid rgba(255, 255, 255, 0.5); /* Stronger border on hover */
}

.grid-item-1 {
  grid-area: box1;
}

.grid-item-2 {
  grid-area: box2;
}

.grid-item-3 {
  grid-area: box3;
}

.grid-item-4 {
  grid-area: box4;
}

.grid-item-5 {
  grid-area: box5;
}

.grid-item-6 {
  grid-area: box6;
}

.grid-item-7 {
  grid-area: box7;
}

.grid-item-8 {
  grid-area: box8;
}

.grid-item-9 {
  grid-area: box9;
}

.grid-item-10 {
  grid-area: box10;
}

.grid-item-11 {
  grid-area: box11;
}

.grid-item-12 {
  grid-area: box12;
}

.grid-item-13 {
  grid-area: box13;
}

.grid-item-14 {
  grid-area: box14;
}

.grid-item-15 {
  grid-area: box15;
}

.grid-item-2,
.grid-item-15,
.grid-item-8 {
  display: flex;
  justify-content: center;
}

.grid-item-3 .background {
  height: 100%;
  font-size: 4rem;
  display: grid;
  place-content: center;
  border-radius: 0.35rem;
}

.grid-item-3 img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.grid-item-5 .background {
  height: 100%;
  font-size: 4rem;
  display: grid;
  place-content: center;
  border-radius: 0.35rem;
}

.grid-item-5 img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.grid-item-7 .background {
  height: 100%;
  font-size: 4rem;
  display: grid;
  place-content: center;
  border-radius: 0.35rem;
}

.grid-item-7 img {
  object-fit: cover;
  border-radius: 15px;
}

.grid-item-9 .background {
  height: 100%;
  font-size: 4rem;
  display: grid;
  place-content: center;
  border-radius: 0.35rem;
}

.grid-item-9 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.grid-item-11 .background {
  height: 100%;
  font-size: 4rem;
  display: grid;
  place-content: center;
  border-radius: 0.35rem;
}

.grid-item-11 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.grid-item-8 i {
  font-size: 2rem;
}

.grid-item-8 h3,
.grid-item-9 h3 {
  margin: 1rem auto;
}

.grid-item-10 h1 {
  font-size: 1.5rem;
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-areas:
      "box1  box2  box3  box6"
      "box4  box4  box4  box14"
      "box5  box7  box7  box10"
      "box9  box7  box7  box8"
      "box12 box12 box11 box15"
      "box13 box13 box14 box14";
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-areas:
      "box5 box2"
      "box4 box4"
      "box10 box10"
      "box7 box7"
      "box7 box7"
      "box7 box7"
      "box12 box12"
      "box13 box13"
      "box14 box14"
      "box8 box9"
      "box3 box15"
      "box1 box6"
      "box11 box11";
  }

  .grid-item {
    padding: 0.75rem 1rem;
  }

  .grid-item-7 .background {
    height: 250px;
  }
}

/* Bento Box Ends */

/* Cars List Starts*/
.container {
  width: 900px;
  margin: auto;
  max-width: 90vw;
  text-align: center;
  padding-top: 10px;
  transition: transform 0.5s;
}

svg {
  width: 30px;
}
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.icon-cart {
  position: relative;
}
.icon-cart span {
  position: absolute;
  background-color: red;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  top: 50%;
  right: -20px;
}
.title {
  font-size: xx-large;
}
.listProduct .item img {
  width: 90%;
  filter: drop-shadow(0 50px 20px #0009);
}
.listProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.listProduct .item {
  background-color: #eeeee6;
  padding: 20px;
  border-radius: 20px;
}
.listProduct .item h2 {
  font-weight: 500;
  font-size: large;
}
.listProduct .item .price {
  letter-spacing: 7px;
  font-size: small;
}
.listProduct .item button {
  background-color: #353432;
  color: #eee;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 20px;
}

/* cart */
.cartTab {
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.5s;
}
body.showCart .cartTab {
  right: 0;
}
body.showCart .container {
  transform: translateX(-250px);
}
.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab button {
  background-color: #e8bc0e;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}
.cartTab .close {
  background-color: #eee;
}
.listCart .item img {
  width: 100%;
}
.listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.listCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 50%;
  color: #555;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
  cursor: auto;
}
.listCart .item:nth-child(even) {
  background-color: #eee1;
}
.listCart {
  overflow: auto;
}
.listCart::-webkit-scrollbar {
  width: 0;
}
@media only screen and (max-width: 992px) {
  .listProduct {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* mobile */
@media only screen and (max-width: 768px) {
  .listProduct {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Cars List Ends*/
